

/*.wrap {
  margin-top:80px;
}*/

/* fade in effect */
/* body {
    opacity: 0;
    transition: opacity 2s;
} */

#content {
    width: 100%;
    margin: 0 auto;
}


/* parallax scrolling on the index page*/
/* On screens that are 300px or more, set the background color to be... */
@media screen and (min-width: 300px) {
  .parallax1 {
    /* The image used */
    background-color: #DDDDDB;
    background-image: url("../images/Index_Connect_to_World.png");
    background-size: 100%;
    /* Set a specific height */
    height: 900px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax2 {
    /* The image used */
    background-color: #DDDDDB;
    background-image: url("../images/bg_0.png");
    background-size: 100%;
    /* Set a specific height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:10%;
    margin-bottom:20px
  }
}
/* end of parallax */

/* On screens that are 300px or less, set the background color to be... */
@media screen and (max-width: 300px) {
  .parallax1 {
    /* The image used */
    /* background-image: url("img_parallax.jpg"); */

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-color: white;
  }
  .parallax2 {
    /* The image used */
    /* background-image: url("img_parallax.jpg"); */

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-color: white;
  }
}

/* color of text in the nav bar changes after scrolling the page */
/* .indexnav.scrolled {
  color:black !important;
}

navbar-toggler {
  background-color: white;
} */
/* Extra small devices (phones, 600px and down) */


/* nav bar */
.nav-link:hover {
  background-color: #F9E421;
  opacity: 0.9;
  color: gray!important;
  transition: 0.5s;
}

.active {
  background-color: #F9E421;
}


@media only screen and (max-width: 600px) {
  nav-bar {
    background-color: white;
  }
  .navbar-brand {
    color: black;
  }
  /* .navbar-fixed-top {
    background-color: #fff !important;
    color: black !important;
    transition: background-color 200ms linear;
  } */
  navbar-collapse {
    background-color: white !important;
  }
}

/* Medium devices (landscape tablets, 768px and up), such as 15 inch laptop*/
@media only screen and (min-width: 768px) {
  .i-brand {
    color: white !important;
  }
  /* color of the nav links on the right before scrolling  */
  .indexnav {
    color:white !important;
  }
  /* nav bar style changes after scrolling */
  .i-brand.scrolled {
    color: black !important;
  }
  .navbar-fixed-top.scrolled {
    background-color: #fff !important;
    color: black !important;
    transition: background-color 200ms linear;
  }
  /* color of text in the nav bar changes after scrolling the page */
  .indexnav.scrolled {
    color:black !important;
  }

  navbar-toggler {
    background-color: white;
  }
}


.fab, .far {
  font-size: 30px;
}

.rectangle {
    width: 200px;
    height: 100px;
    background: orange;
    padding:20px;
  }

.circle {
    color: white;
    border-color:#E8A15B;
    background: #E8A15B;
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 50%;
    -webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
    transition: width .5s;
  }
.circle:hover{
    width:150px;
    color: #4444AD;
    border-color:#E5865C;
    background-color: #E5865C;
    text-decoration: none;
    cursor: pointer;
  }

/* a.button:hover {
  color: #4444AD;
  background-color: #E5865C;
  text-decoration: none;
} */

.portfoliocontainer {
  /*width:100%;*/
  margin-top: 80px;
  /*margin-left:20%;
  margin-right:20%;*/
}

.workcontainer {
  position: relative;
  width: 100%;
  background-color: white;
  box-shadow: 3px 5px 16px 0px #d0d0d0;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  padding: 0px;
}

/*hover overlay effec, text caption*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fdc51b;
}

.workcontainer:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* nav bar on index page */


/*nav bar*/

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color:grey!important;
  /* border-bottom-style: solid; */
}

.bg-light {
    background-color: white !important;
}

.center {
  text-align: center;
}

.publication {
  margin-top: 40px;
  background-color: #eeeeee;
  padding: 80px;
  color: #414141;
}

.role {
  font-size: 14px;
  line-height: 10px;
  /*color: gray;*/
}
.verticalLine {
  border-left: thick solid #004d45;
  height: 120px;
  border-width: 3px;
}
.footer {
    font-size: 13px;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    text-align: center;
    margin-top: 40px;
}
/* footer {
    font-size: 13px;
    position
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    text-align: center;
    margin-top: 40px;
} */
h4 {
  font-family:'Montserrat', sans-serif;
}

h2, h4 {
  margin-bottom: 30px;
}

img.zoomin {
   cursor: zoom-in;
 }

 .modal-lg {
   width: 40%;
   margin: auto;
 }
